body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5rem;
    font-size: 1.25rem;
    color: #1c1f22;
    background-color: #f9f9f9;
    font-weight: 300;
}

.main {
    margin: 2rem;
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
}

.h1 {
    font-weight: 500;
    margin: 0;
}

.h1 {
    font-size: 2rem;
}

.h2 {
    font-size: 1.5rem;
}

.socials__item {
    text-decoration: none;
    font-weight: 500;
    width: 16rem;
    display: block;
    border: .2rem solid #8b1017;
    padding: .5rem 0;
    color: #f9f9f9;
    text-transform: uppercase;
    background-color: #8b1017;
}

.socials__item:hover {
    background-color: #f9f9f9;
    color: #8b1017;
}

.socials__item:not(:last-child) {
    margin-bottom: .5rem;
}

.eff-logo {
    width: 100px;
}
