body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5rem;
    font-size: 1.25rem;
    color: #1c1f22;
    background-color: #f9f9f9;
    font-weight: 300;
}

.main {
    margin: 2rem;
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.h1,
.h2 {
    font-weight: 500;
    margin: 0;
}

.h1 {
    font-size: 2rem;
    margin-bottom: .5rem;
}

.h2 {
    font-size: 1.5rem;
}

.socials__item {
    text-decoration: none;
    font-weight: 500;
    width: 16rem;
    display: block;
    border: .2rem solid #eee;
    border-radius: .25rem;
    padding: .5rem 0;
    color: hsl(210deg 10% 25%);
    box-shadow: 0 0 0.2rem 0.25rem rgb(0 0 0 / 1%);
    text-transform: uppercase;
}

.socials__item:not(:last-child) {
    margin-bottom: .5rem;
}

.eff-logo {
    width: 100px;
}
