body {
    font-family: "Roboto", sans-serif;
    color: hsl(0, 0%, 13%);
    background-color: hsl(0, 0%, 98%);
}

h2 {
    color: hsl(0, 0%, 33%);
}

.card {
    border: none;
    text-align: center;
    background-color: transparent;
}

.card-image > img {
    border-radius: 50%;
    border: 5px solid hsl(348, 83.3%, 47.1%);
    padding: 3px;
    background-color: rgba(220, 20, 60, .125);
}

.card-text {
    color: hsl(0, 0%, 74%);
}

.btn-primary {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.socials > .icon {
    font-size: 1.85rem;
    color: hsl(0, 0%, 100%);
    display: inline-block;
}

/*.socials .icon:not(:last-child) {
    margin-right: .75rem;
}*/

.socials .icon,
.socials .icon > i,
.socials .icon > img {
    transition: all .25s ease;
}

.socials .icon > i,
.socials .icon > img {
    font-size: 2rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    vertical-align: top;
}

.socials .icon:hover > i,
.socials .icon:hover > img {
    transform: translateY(-4px);
}

.socials .icon > .fa-github {
    background-color: hsl(214, 50%, 50%);
}

.socials .icon > .fa-twitter {
    background-color: hsl(194, 100%, 56%);
}

.socials .icon > .fa-reddit {
    background-color: hsl(20, 100%, 50%);
}

.socials .icon > .fa-youtube {
    background-color: hsl(0, 100%, 50%);
}

.socials .icon > .fa-code {
    background-color: hsl(248.3, 53.5%, 57.8%);
}

.socials .icon.anilist > img {
    background-color: #1f2631;
}

.eff-logo {
    width: 80px;
}

/*@media (max-width: 575.98px) {
    .socials > .icon:nth-child(-n+2) {
        margin-right: .75rem;
    }

    .socials > .icon:nth-child(n+4) {
        margin-top: .75rem;
    }

    .socials > .icon:nth-child(n+4):not(:last-child) {
        margin-right: .75rem;
    }
}*/